@media (min-width: 640px) {
  .grid-spotify {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 8px;
    grid-template:
      "a b" auto
      "a m" 80px
      "a m" 1fr
      "f f" auto
      / 80px 1fr;
  }

  .grid-spotify2 {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 8px;
    grid-template:
      "a b b" auto
      "a m r" 1fr
      "f f f" auto
      / 80px 1fr 400px;
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .m {
    grid-area: m;
  }

  .f {
    grid-area: f;
  }
}

.bg-song {
  background: #000;
}
.bg-song-click {
  background: #2d2d2d;
}
.bg-song:hover {
  background: #2d2d2d;
}
.bgartis {
  background: none;
}
@media (max-width: 640px) {
  .bgartis {
    background: linear-gradient(var(--bg) 0%, rgb(4, 39, 67) 100%);
  }
  .liquid-glass {
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px #ffffff99;
    border: 3px solid #ffffff4d;
    background: #ffffff33;
  }
}

.bgplaylist {
  background: linear-gradient(180deg, var(--bg) 0%, rgb(29, 112, 4) 100%);
}
