@keyframes appear1 {
    from {
        top: 0px;
        left: 100%;

    }

    to {
        top: 0px;
        left: 0px;
    }
}

@keyframes appear2 {
    from {
        top: 0px;
        left: -100%;

    }

    to {
        top: 0px;
        left: 0px;
    }
}

@keyframes disappear1 {
    from {
        top: 0px;
        right: 0px;

    }

    to {
        top: 0px;
        right: 100%;
    }
}

@keyframes expendAnimation {
    from {
        width: 20px;

    }

    to {
        width: 40px;
    }
}

.apearRightToLeft {
    animation: appear1 2s;
}

.apearLefttoRight {
    animation: appear2 2s;
}

.disappearRighttoLeft {
    animation: disappear1 2s;
}

.expend {
    animation: expendAnimation 1.5s;
}